<!-- Angular -->

<!-- Bootstrap Declaration in app component -->
<select [(ngModel)]="selectedFiled">
  <option *ngFor="let prop of propsList" [value]="prop.valueOf()">
    {{prop}}
  </option>
</select>
<input placeholder="" [(ngModel)]="selectedValue" (input)="searchByValue()" >
<button class="btn btn-success pull-left" routerLink="/create">New Post</button> <br>
<div class="raw list-group" *ngFor="let item of filteredProducts">
  <div class="products col-xs-4 col-lg-4">
    <div class="thumbnail">
      <h4>{{item.name}}</h4>
      <p>{{item.description}}</p>
      <p>${{item.price}}</p>
      <p>address : {{item.address}}</p>
      <script>
        item.contact="Press for contact customer"
      </script>
      <a (click)="getContact(item)">{{item.contact}}</a>
      <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />{{item.pictureUrl}}
    </div>
  </div>
</div>





